.background-icon {
    position: absolute;
    left: 0;
    width: 1920px;
    height: 955px;
    z-index: -1;
    overflow-x: hidden;
  }
  
  .outer-box {
    position: absolute;
    top: 5rem;
    display: flex;

    flex-direction: column;
  }
  
  .big-box {
    width: 51.5rem;
    height: 20rem;
    flex-shrink: 0;
    margin: 2rem;
    padding: 2rem;
    border-radius: 33.345px;
    display: flex;
    align-items: center;
    /* vision */
    box-shadow: 0px 18.262px 22.827px 0px rgba(0, 0, 0, 0.05),
      -0.761px 0.761px 0.761px -1.522px rgba(255, 255, 255, 0.35) inset,
      0px 0.761px 6.087px 0px rgba(255, 255, 255, 0.35) inset;
    backdrop-filter: blur(74.56938171386719px);
    -webkit-backdrop-filter: blur(74.56938171386719px);
  }
  
  .inner-box {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .big-video {
    width: 33rem;
    height: 20rem;
    border-radius: 24px;
    border: 5px solid var(--Pure-White, #fff);
    margin-right: 2rem;
  }

  .video{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .mute-button {
    margin: 0 1rem;
    height: 6rem;
  }
  
  .volume {
    height: 7.5rem;
    border-radius: 3.75px;
    background: rgba(0, 0, 0, 0.73);
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.volume-icon {
    margin: 0.7rem;
    margin-top: 0;
}

.volume-meter {
    position: relative;
    height: 4rem;
    width: 0.2rem;
    border-radius: 2.248px;
    background: rgba(196, 196, 196, 0.3);
}

.fill-meter {
    position: absolute;
    bottom: 0%;
    border-radius: 23.248px;
    background: var(--Pure-White, #fff);
    width: 0.2rem;
    transition: height 0.2s ease; /* Add transition for a smooth visual effect */
}
  
  .lower-box {
    display: flex;
    flex-direction: row;
  }
  
  .text-box {
    width: 38rem;
    height: 14rem;
    box-shadow: 0px 18.262px 22.827px 0px rgba(0, 0, 0, 0.05),
      -0.761px 0.761px 0.761px -1.522px rgba(255, 255, 255, 0.35) inset,
      0px 0.761px 6.087px 0px rgba(255, 255, 255, 0.35) inset;
    backdrop-filter: blur(74.56938171386719px);
    -webkit-backdrop-filter: blur(74.56938171386719px);
    margin-left: 2rem;
    padding: 0 2rem;
    border-radius: 33.345px;
    display: flex;
    align-items: center;
  }
  
  .pause-box {
    width: 11.5rem;
    height: 14rem;
    box-shadow: 0px 18.262px 22.827px 0px rgba(0, 0, 0, 0.05),
      -0.761px 0.761px 0.761px -1.522px rgba(255, 255, 255, 0.35) inset,
      0px 0.761px 6.087px 0px rgba(255, 255, 255, 0.35) inset;
    backdrop-filter: blur(74.56938171386719px);
    -webkit-backdrop-filter: blur(74.56938171386719px);
    margin-left: 2rem;
    border-radius: 33.345px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .chats{
    height: 100%;
    overflow-x: hidden;
    width: 100%;
  }
  
  
  .pause-btn{
    position: fixed;
      margin-bottom: 2rem;
      height: 6rem;
      z-index: 1;
  }